<div id="admin_menue_container">
    <nav id="admin_menue">
      <%= link_to "Admin", admins_index_path %>
      <%= link_to "users", admin_users_path %>
      <%= link_to "topics", admin_topics_path %>
      <%= link_to "threads", admin_threads_path %>
      <%= link_to "spam posts", admin_spam_posts_path %>
      <%= link_to "new posts", admin_new_posts_path %>
      <%= link_to "Forum", root_path %>
    </nav>
</div>