<ul>
  <li><%= link_to "users", admin_users_path %></li>
  <li><%= link_to "topics", admin_topics_path %></li>
  <li><%= link_to "threads", admin_threads_path %></li>
  <li><%= link_to "spam posts", admin_spam_posts_path %></li>
  <li><%= link_to "new posts", admin_new_posts_path %></li>
</ul>