<h1> Admin-Bereich </h1>

<table>

	<tr>

		<td>

<table id = "userTable">
	<tr> <th> User-Email </th> <th> Löschen </th> </tr>

	<% @users.each do |user| %>

		<tr> <td> <%= user.email %> </td>  <td> <%= link_to "Löschen",admins_destroy_path(user.id), method: :delete %> </td> </tr>

	<% end %>

</table> 

	</td>

	<td>

 <table id = "spamTable">
 	<tr> <th> Spampost </th> <th> Spam ? </th> </tr>

 	<% @posts.each do |post| %>

 		<% if post.spam? %>
 			<tr> <td> <%= post.title %> </td> <td> <%= link_to "Kein Spam", admins_nospam_path(post.id), method: :patch %> </td> </tr> 
 			<% end %>

 		<% end %>

 	</table>

 	<td>
 		<table id = "postTable">
 			<tr> <th> Post </th> <th> User </th> <th> Datum </th> </tr>

 			<% @posts.each do |post| %>

 				<% if post.created_at > (Time.now - 2.days) %>

 				<tr> <td> <%= post.title %> </td> <td> <%= post.user.email %>  </td> <td> <%= post.created_at %> </td> </tr>

 				<% end %>

 			<%end%>


 		</table>

 	</td>

 </td>

</tr>

</table>
