<h1> Verschieben </h1>

<%= form_tag admin_moved_thread_path(params[:id]), method: 'patch', html: {role: 'form', style: 'width: 20%'} do %>
    <div class="form-group">
        <%= label_tag(:to,"Verschieben nach: ") %>
        <%= collection_select(:user_thread, :topic, @options, :id, :name, class: 'form-control') %>
    </div>

    <%= submit_tag("Okay",class: "btn btn-success") %>
    <%= link_to "Abbrechen",admin_topics_threads_path,class: "btn btn-danger" %>
<% end %>