<% @title = "Thread - Edit" %>
<h1>Edit-Thread</h1>

<%= render partial: 'layouts/error', locals: { errors: @user_thread.errors } %>

<%= form_for [@user_thread.topic, @user_thread], class: 'form-horizontal', html: { role: 'form', style: 'width: 25%'} do |f| %>
    <div class="form-group">
      <%= f.label :title, for: 'input-lable' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-success' %>
    <%= link_to "Abbrechen", admin_topics_threads_path, class: 'btn btn-danger' %>
<% end %>
