<h1> Verschieben </h1>

<%= form_tag admin_moved_thread_path(params[:id]),method: 'patch' do %>
 <%= label_tag(:to,"Verschieben nach: ") %>
 <%= collection_select(:user_thread, :topic, @options, :id, :name, {}) %>
 <br>
 <%= submit_tag("Okay",class: "btn btn-success") %>
 <%= link_to "Abbrechen",admin_threads_path,class: "btn btn-danger" %>
<% end %>