<% @title = "Topics & Threads" %>

<div class="row">
  <div class="col-xs-6">
    <h1>Topics</h1>

    <table id="topicTable" class="table table-hover">
      <tr>
        <th>Topic</th>
        <th>Anzahl Threads</th>
        <th></th>
      </tr>

      <% @topic.each do |topic| %>
          <tr>
            <td> <%= link_to topic.name, topic_user_threads_path(topic) %> </td>
            <td> <%= topic.user_threads.count %> </td>
            <td>
              <%= link_to topic_path(topic), method: :delete do %>
                  <span class="glyphicon glyphicon-remove-circle" title="Löschen"></span>
              <% end %>

              <%= link_to admin_edit_topic_path(topic) do %>
                  <span class="glyphicon glyphicon-pencil" title="Bearbeiten"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="col-xs-6">
    <h1>Threads</h1>

    <table id="threadTable" class="table table-hover">
      <tr>
        <th>Thread</th>
        <th>Anzahl Posts</th>
        <th></th>
        <th></th>
      </tr>

      <% @userThread.each do |thread| %>
          <tr>
            <td>
              <%= link_to thread.title, topic_user_thread_posts_path(thread.topic, thread) %>
            </td>

            <td> <%= thread.posts.count %> </td>

            <td></td>

            <td>
              <%= link_to topic_user_thread_path(thread.topic, thread), method: :delete do %>
                  <span class="glyphicon glyphicon-remove-circle" title="Löschen"></span>
              <% end %>

              <%= link_to admin_edit_thread_path(thread) do %>
                  <span class="glyphicon glyphicon-pencil" title="Bearbeiten"></span>
              <% end %>

              <%= link_to admin_move_thread_path(thread) do %>
                  <span class="glyphicon glyphicon-hand-right" title="Verschieben"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

