<h1>Sucheergebnisse</h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#results" data-toggle="tab">Title</a></li>
    <li><a href="#contentResults" data-toggle="tab">im Text</a></li>
    <li><a href="#userResults" data-toggle="tab">User</a></li>
    <li><a href="#topicResults" data-toggle="tab">Topics</a></li>
    <li><a href="#threadResults" data-toggle="tab">Threads</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="results">
      <% @results.each do |result| %>
          <p> <%= link_to result.title, path_to_post(result) %> in Thread:<%= result.user_thread.title %>, in Topic:<%= result.topic.name %>  </p>
      <% end %>
    </div>
    <div class="tab-pane" id="contentResults">
      <% @contentResults.each do |result| %>
          <p> <%= link_to result.title, path_to_post(result) %> in Thread:<%= result.user_thread.title %>, in Topic:<%= result.topic.name %>  </p>
      <% end %>
    </div>
     <div class="tab-pane" id="userResults">
      <% @userResults.each do |result| %>
          <p> <%= link_to result.email, show_user_path(result) %>  </p>
      <% end %>
    </div>
     <div class="tab-pane" id="topicResults">
      <% @topicResults.each do |result| %>
          <p> <%= link_to result.name, topics_path(result) %>  </p>
      <% end %>
    </div>
     <div class="tab-pane" id="threadResults">
      <% @threadResults.each do |result| %>
          <p> <%= link_to result.title, topic_user_threads_path(result.topic,result) %>  </p>
      <% end %>
    </div>
  </div>

</div>

<%= link_to "Back", root_path %>
