<h1>Listing topics</h1>


    <% @topics.each do |topic| %>

    <div>  <%= image_tag "ordner.png",class: "folder",size: "30x30" %>  <p class = "topic" > <%= link_to topic.name,topic %>  </p> </div>
      

      <!-- <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>

<br>

<%= link_to 'New Topic', new_topic_path %>
