<%= form_for @user, url: user_path, class: 'form-horizontal' do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label', for: 'input-lable' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :lastname, class: 'control-label', for: 'input-lable' %>
      <div class="controls">
        <%= f.text_field :lastname %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :gender, class: 'control-label', for: 'input-lable' %>
      <div class="controls">
        <%= f.text_field :gender %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :signature, class: 'control-label', for: 'input-lable' %>
      <div class="controls">
        <%= f.text_area :signature %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit class: 'btn btn-success' %>
        <%= link_to "Abbrechen",show_current_user_path, class: 'btn btn-danger' %>
      </div>
    </div>

<% end %>
