<div class = "well" id= <%= "post" + post.id.to_s %> >
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= image_tag post.user.avatar, class: "img-rounded" %>
      </div>
      <div class="span10">
        <div>

          <h4 class="pull-left"><%= word_wrap post.title, line_width: 90 %></h4>
          <% unless post.user.nil? %>
              <%= link_to post.user.email, show_user_path(post.user),class: "pull-right" %>
          <% else %>
              <p class="pull-right"> geloeschter User </p>
          <% end %>
        </div>
        <hr id="line" style="clear:both">
        <div>
          <%= word_wrap post.content, line_width: 90 %>
        </div>
        <hr id="line">
        <% unless post.user.nil? %>
            <%= post.user.signature %>
        <% end %>
        <%= render partial: "rating", locals: {post: post} %>
        <%= render partial: "spam", locals: {post: post} %>
        <%= render partial: "delete", locals: {post: post} %>
      </div>
    </div>
  </div>
</div>