<div class = "panel panel-default" id= <%= "post" + post.id.to_s %> >

  <div class="panel-heading">
    <h3><%= word_wrap post.title %></h3>
  </div>

  <div class="panel-body">
    <div class="col-xs-4 col-sm-2">
      <% unless post.user.nil? %>
          <%= link_to show_user_path(post.user) do %>
              <%= image_tag post.user.avatar, class: "img-rounded" %>
          <% end %>
      <% else %>
          <p class="pull-right"> geloeschter User </p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-8">
      <%= word_wrap post.content, line_width: 90 %>
    </div>

  </div>

  <div class="panel-footer">
    <% unless post.user.nil? %>
        <%= post.user.signature %>
    <% end %>
    <%= render partial: "rating", locals: {post: post} %>
    <%= render partial: "spam", locals: {post: post} %>
    <%= render partial: "delete", locals: {post: post} %>
  </div>

</div>