<div class = "well" id= <%= "post" + post.id.to_s %> >

	<div>
  		 <%= post.title %> 
  		 <%= link_to post.user.email, show_user_path(post.user),class: "pull-right" %> 
 	</div>
 	<hr id="line">
	<div>
		<p> <%= post.content %> </p>
	</div>

	<%= render partial: "spam", locals: {post: post} %>
	<%= render partial: "rating", locals: {post: post} %>
	<%= render partial: "delete", locals: {post: post} %>
</div>