<div class = "container" id= <%= "post" + post.id.to_s %> >

	<div class ="postHeader">
  		<p class = "title"> <%= post.title %> </p> 
  		<p class = "name"> <%= link_to post.user.email, show_user_path(post.user),class: "headerLink" %> </p>
 	</div>

	<div class = "postContent">
		<p> <%= post.content %> </p>
	</div>

	<%= render partial: "spam", locals: {post: post} %>
	<%= render partial: "rating", locals: {post: post} %>
	<%= render partial: "delete", locals: {post: post} %>
</div>