<div class = "well" id= <%= "post" + post.id.to_s %> >

	<div>
  		 <h4 class="pull-left"><%= post.title %></h4>
  		 <%= link_to post.user.email, show_user_path(post.user),class: "pull-right" %>
 	</div>
 	<hr id="line" style="clear:both">
	<div>
		 <%= post.content %> 
	</div>
	<hr id="line">
	 <%= post.user.signature %> 
	 <%= render partial: "spam", locals: {post: post} %>
	 <%= render partial: "rating", locals: {post: post} %>
	<%= render partial: "delete", locals: {post: post} %>
</div>