<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Spam</th>
      <th>Userthread</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.spam %></td>
        <td><%= @userThread.title %></td>
        <td><%= post.rating %></td>
        <td><%= link_to 'Show', topic_user_thread_post_path(@topic, @userThread, post) %></td>
        <td><%= link_to 'Edit', edit_topic_user_thread_post_path(@topic, @userThread, post) %></td>
        <td><%= link_to 'Destroy', topic_user_thread_post_path(@topic, @userThread, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_topic_user_thread_post_path %>
