<h1><%= @userThread.title %></h1>

<div id="containerAll" >

	<%= will_paginate %>
	<%= render @posts %>
	<%= will_paginate %>

	<%= render partial: "addPost" %>
</div>

<%= link_to "Back" , topic_user_threads_path(@topic) %>