<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Spam:</strong>
  <%= @post.spam %>
</p>

<p>
  <strong>Userthread:</strong>
  <%= @userThread.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<%= link_to 'Edit', edit_topic_user_thread_post_path(@topic, @userThread, @post) %> |
<%= link_to 'Back', topic_user_thread_posts_path %>
