<%= form_for([@user_thread.topic, @user_thread]) do |f| %>
  <% if @user_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_thread.errors.count, "error") %> prohibited this user_thread from being saved:</h2>

      <ul>
      <% @user_thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
