<% p = user_thread.posts.order("created_at").last %>

<tr>
	<td class = "userThreadTd">
		<%= image_tag "ordner.png",class: "folder",size: "30x30" %>  
	</td>
	<td class = "userThreadTd">
		<%= link_to user_thread.title , topic_user_thread_posts_path(@topic, user_thread)  %>  
	</td>
	<% unless p.nil? %>
		<td class = "userThreadTd"><%= link_to p.title, topic_user_thread_posts_path(@topic, user_thread, anchor: "post#{p.id}") %></td>
		<td class = "userThreadTd"><%= p.created_at %></td>
		<td class = "userThreadTd"><%= p.user.name %></td>
        <td class = "userThreadTd"><%= user_thread.posts.count %></td>
	<% else %>
		<td class = "userThreadTd">-</td>
		<td class = "userThreadTd">-</td>
		<td class = "userThreadTd">-</td>
		<td class = "userThreadTd">-</td>
	<% end %>
</tr>
