<h1>Listing user_threads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Topic</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_threads.each do |user_thread| %>
      <tr>
        <td><%= user_thread.title %></td>
        <td><%= user_thread.topic.name %></td>
        <td><%= link_to 'Show', topic_user_thread_path(@topic, user_thread) %></td>
        <td><%= link_to 'Edit', edit_topic_user_thread_path(@topic, user_thread) %></td>
        <td><%= link_to 'Destroy', topic_user_thread_path(@topic, user_thread), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User thread', new_topic_user_thread_path %>
