<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_thread.title %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @topic.name %>
</p>

<%= link_to 'Edit', edit_topic_user_thread_path(@topic, @user_thread) %> |
<%= link_to 'Back', topic_user_threads_path %>
