<%= render partial: "layouts/error", locals: { errors: @message.errors } %>

<%= form_for @message, html: { role: 'form', style: 'width: 30%' } do |f| %>

    <div class="form-group">
      <%= f.label :receiver, for: 'receiver' %>
      <%= f.text_field :receiver, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :title, for: 'title' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group" >
        <%= f.text_area :content, rows: 6, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.submit class: 'btn btn-success', value: 'Senden' %>
        <%= link_to 'Abbrechen', current_user_messages_path, class: 'btn btn-danger' %>
    </div>
<% end %>
