<div id = "mainHeader">
  <!-- http://guides.rubyonrails.org/action_controller_overview.html -->
	<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <!-- Copy end -->

    <div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= render partial: "layouts/login" %></li>
		<li><%= render partial: "layouts/admin" %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'User Profil', show_current_user_path %></li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
		<li><%= render partial: "layouts/search"%></li>
      </ul>
  </div>
</div>
