<div id = "mainHeader">
	<p id= "headerText"> Header </p>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>	

	<ul id="menue">
		<li><%= render partial: "layouts/login" %></li>
		<li><%= render partial: "layouts/admin" %></li>
		<li><%= render partial: "layouts/search"%></li>
	</ul>
</div>