<!DOCTYPE html>
<html>
<head>
	<title>
      <% if @title.nil? %>
        <%= "Admin" %>
      <% else %>
        <%= "Admin - #{@title}" %>
      <% end %>
    </title>
	<%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: "admins/menue" %>
	<div id="mainContent" class="container">
		<%= yield %>
	</div>
</body>
</html>
