<!DOCTYPE html>
<html>
<head>
	<title><%= @tile ||= "Forum" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
        <%= render partial: "layouts/header" %>

        <% if content_for?(:user_profil) %>
            <%= yield(:user_profil) %>
          <% else %>
            <%= yield %>
          <% end %>

        <%= render partial: "layouts/footer" %>
	</div>
</div>
</body>
</html>
