<!DOCTYPE html>
<html>
<head>
	<title><%= @tile ||= "Forum" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "layouts/header" %>
	<div class="container">
        <%= content_for?(:content) ? yield(:content) : yield %>
	</div>
	<br>
	<%= render partial: "layouts/footer" %>
</div>
</body>
</html>
