<% content_for :user_profil do %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">

          <% if @active_link == 1 %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <% if @user == current_user %>
            <%= link_to 'Profile', current_user_path %>
          <% else %>
            <%= link_to 'Profile', show_user_path( User.find(params[:id]) ) %>
          <% end %>
          </li>

          <% if @user == current_user %>
              <% if @active_link == 2 %>
                  <li class="active">
              <% else %>
                  <li>
              <% end %>
              <%= link_to 'My Threads', current_user_threads_path %>
              </li>

              <% if @active_link == 3 %>
                  <li class="active">
              <% else %>
                  <li>
              <% end %>
              <%= link_to current_user_messages_path do %>
                  <span class="badge pull-right"><%= @new_message_count %></span>
                  Messages
              <% end %>
              </li>
          <% end %>

        </ul>
      </div>

      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
<% end %>

<%= render template: "layouts/application" %>
